.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}