.profile__fields {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 16px 18px;
  align-items: center;
  padding-left: 30px;
  align-content: center;
  max-width: 380px;
}

@media screen and (max-width: 767px) {
  .profile__fields {
    grid-template-columns: 1fr 18px;
    gap: 5px 10px;
    width: 217px;
    padding-left: 0;
  }
}