.sign__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: white;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 50px;
}

@media screen and (max-width: 344px) {
  .sign__title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 344px) {
  .sign__title {
    font-size: 20px;
    line-height: 24px;
  }
}
