.header__user-email {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 0;
  padding-right: 24px;
}


@media screen and (max-width: 450px) {
  .header__user-email {
    font-size: 14px;
    padding-right: 15px;
  }
}

