.header {
  margin: 0 auto;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  position: relative;
}

@media screen and (max-width: 999px) {
  .header {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 27px 31px 27px;
  }
}

/*
@media screen and (max-width: 600px) {
  .header {
    padding-top: 162px;
  }

  .header::before{
    top: 130px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(84, 84, 84, .7);
    content: '';
  }
}
*/
