.element__like-button {
  cursor: pointer;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 19px;
  border: none;
  background-color: white;
  box-sizing: border-box;
  padding: 0 0 3px 0;
}

.element__like-button:hover {
  opacity: .5;
}

